---
title: WireShark analysis of a C2 attack
layout: layouts/home.njk
description: Home for my project
date: Last Modified
---

<p>
We're going to walk through a TryHackMe room called <a href="https://tryhackme.com/room/c2carnage">Carage</a>.</br>
In this room we're tasked with retreiving information from a packet capture following a *C2 attack*.</br>
I think it greately compliments my <a href="https://r-proxy-rat.netlify.app/">reverse-proxy RAT</a> project where we stood on the side of the attacker.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>