---
title: WireShark analysis of a C2 attack
layout: layouts/home.njk
description: Home for my project
date: Last Modified
---

<p>
We're going to walk through a TryHackMe room called <a href="https://tryhackme.com/room/c2carnage">Carnage</a> 👹.</br>
In this room we're tasked with retreiving information from a packet capture following a *C2 attack*. 🔎</br>
I think it greately compliments my <a style="color: #ac12f9" href="https://r-proxy-rat.netlify.app/">reverse-proxy RAT</a> project where we stood on the side of the attacker. 😈
</p>

<p>
Choose the full Scroll-Through for a smooth reading experience or, if you'd like to follow along without spoilers, you can choose to see each task separately.
</p>

<div id="posts">
  <h2>Posts</h2>
  <a style="  margin-bottom: 0.5em;" href="/full-scroll/">Scroll-Through</a>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>